<section>
  <h2> Craftables </h2>
  <ul class="craftables-list">
    {{#each craftables as |item i|}}
    <li class="craftable">
      <h3> {{item.displayedName}} </h3>
      <div class="recipes">
        {{#each item.craftingIngredients as |recipe i|}}
        <div class="recipe">
          <span>
            Recipe {{i}}:
          </span>
          {{#each recipe as |compStr j|}}
          <span class="ingredient">
            {{compStr}}
          </span>
          {{/each}}
        </div>
        {{/each}}
      </div>
    </li>
    {{/each}}
  </ul>
</section>
