<table class="printable-power-table">
	<tr>
		<th> Name</th>
		<th> Tags</th>
		<th> Cost</th>
	</tr>
	{{#each powers as |power i|}}
	<tr>
		<td> {{power.name}} </td>
		<td> {{getItemTagList power}} </td>
		<td> {{simplePowerCost power}} </td>
	</tr>
	<tr>
		power.description
	</tr>
	{{/each}}
</table>
