{{#if (eq mode "tactical")}}
<h2 title="right click to exit"> Tactical View </h2>
{{/if}}
<div class="control-panel {{#if (isCombatPanelActive)}}active-control-panel{{/if}}">
	<header>
		<h3 class="token-name"> {{token.name}}</h3>
		{{> "systems/persona/parts/vitals-section.hbs" CONST=CONST persona=persona}}
	</header>
	<hr>
	<body>
		{{#if (eq mode "main")}}
		{{> "systems/persona/parts/combat-panel-control-body-main.hbs" CONST=CONST persona=persona actor=persona.user}}
		{{/if}}
		{{#if (eq mode "inventory")}}
		{{> "systems/persona/parts/combat-panel-control-body-inventory.hbs" CONST=CONST persona=persona actor=persona.user}}
		{{/if}}
		{{#if (eq mode "persona")}}
		{{/if}}

		<button class="tacticalMode">
			Tactical View
		</button>

	</body>

</div>
