<h2>
	<span class="token-name">
		{{attacker.name}}
	</span>
	<span class="uses">
		uses
	</span>
	<span class="power-name">
		{{power.name}}
	</span>
</h2>

<section class="persona-roll">
	{{#each attacks as |atk|}}
	<div class="atk-block">
		{{> "systems/persona/parts/simple-roll.hbs" roll=atk.attackResult.roll }}
		{{atk.attackResult.result}}
		{{#if atk.attackResult.situation.resisted}}
		<span class="resisted">(Resist)</span>
		{{/if}}
		{{#if atk.attackResult.situation.struckWeakness}}
		<span class="resisted">(Weak)</span>
		{{/if}}
		{{#if atk.attackResult.situation.isAbsorbed}}
		<span class="resisted">(Absorbed)</span>
		{{/if}}
		{{#each atk.changes as |change|}}
		{{> "systems/persona/parts/display-token-change.hbs" change=change power=../../power}}
		{{/each}}
		{{#if escalation}}
		Escalation Die {{escalation}}
		{{/if}}
	</div>
	{{/each}}
	{{#each costs as |cost|}}
	{{> "systems/persona/parts/display-token-change.hbs" change=cost power=../power}}
	{{/each}}
</section>
<button class="applyChanges">
	Apply Changes
</button>
