<section class="persona-roll">
	{{#each attacks as |atk|}}

	<div class="atk-block">

		<h2>
			<span class="token-name">
				{{attackResult.attacker.document.name}}
			</span>
			<span class="uses">
			uses
			</span>
			<span class="power-name">
				{{attackResult.power.name}}
			</span>
		</h2>
	</div>

	{{/each}}
</section>
