<section class="follow-ups">
<h3> Follow Up Choices</h3>

<ul class="follow-ups">
	{{#each followUps as |followUp|}}
	{{#if (eq followUp.type "power")}}
	<div class="follow-up" data-power-id="followUp.powerId" data-combatant-id="{{followUp.combatantId}}">
		{{followUp.name}}
	</div>
	{{/if}}
	{{/each}}
</ul>

<button class="act-again"> Act Again </button>
</section>
