
{{> "systems/persona/parts/defenses-section.hbs" CONST=CONST persona=persona}}

{{> "systems/persona/parts/resistance-section.hbs" CONST=CONST persona=persona}}

{{> "systems/persona/parts/basic-powers-section.hbs" CONST=CONST persona=persona actor=actor disabled=(not (isCombatPanelActive))}}

{{#if engagedList}}
<img src="systems/persona/img/icon/engaged-icon.gif" title="Engaged By {{#each engagedList as |comb i|}} {{comb.name}} {{/each}}">
{{/if}}

<div class="main-powers">
	{{#each persona.activeCombatPowers as |power i|}}
	<div class="main-power {{#if (not (canUsePower ../persona power))}} faded {{/if}} {{#if (isSpecialPower power)}} shimmer {{/if}}" data-power-id="{{power.id}}" title='{{> "systems/persona/parts/power-tooltip-lite.hbs" actor=../actor CONST=../CONST power=power persona=../persona}}' >
		<div class="power-name-block">
			<div class="power-name-bubble-container">
				{{> "systems/persona/parts/pretty-power-name.hbs" CONST=../CONST power=power user=../persona}}
			</div>
		</div>
	</div>
	{{/each}}
</div>

<hr>
<div class="f-row control-panel-buttons">
	<button class="inventory-button">
		Item
	</button>
	{{#if actor.hasMultiplePersonas}}
	<button class="persona-switch" {{#if (not actor.canSwitchPersonas)}} disabled {{/if}}>
		Persona
	</button>
	{{/if}}
	<button class="tacticalMode">
		Tactical View
	</button>
</div>
