<section class="combat-section">
	<div class="combat-stats flexcol">
		<h2>
			{{localize "persona.sheet.tabs.combat.header" }}
		</h2>
		<div class="hp">
			<span>
				<input class="short" type="number" name="system.combat.hp.curr" value="{{actor.system.combat.hp.curr}}"> / {{actor.system.combat.hp.max}}</span>
		</div>
	</div>
</section>
