<div class=".disengageCheck">
	<b>Disengage Opportunity:</b>
	<span>
		{{disengageResult}}
		(
		{{> "systems/persona/parts/condensed-roll.hbs" roll=roll}}
		)
	</span>
	<hr>
	<h3>{{#if success}}
		Success
		{{else}}
		Can't Disengage
		{{/if}}
	</h3>

</div>

