<div data-top-path="system.effects">
	{{> "systems/persona/parts/effects-section-adaptable.hbs" topPath="system.effects" namePrefix="system.effects." effects=item.system.effects POWERSTUFF=POWERSTUFF item=item}}
</div>
