{{#if (isShadow actor)}}
<div class="focus-section">
	<h2>
		{{localize 	"persona.statistic.focii"}}
		{{#if (isShadow actor)}}
		<a class="addShadowFocus">
			<i class="fa-solid fa-plus"> </i>
		</a>
		{{/if}}

	</h2>

	<table class="focus-table">
		{{#each actor.focii as |focus|}}
		<tr data-focus-id="{{focus.id}}">
			<td>
				<a class="focusName">
					{{focus.name}}
				</a>
			</td>
			<td>
				<a class="delFocus">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</td>
		</tr>
		{{/each}}
	</table>
</div>

{{/if}}
