<section class="fusions-list"> {{#if (not actor.sheet.selectedFusion)}}
  <section class="fusion-list">
    <div>
      <label>
        Compendium Fusion
      </label>
      <input class ="comp-fusion-selector" type="checkbox" {{checked actor.sheet.compFusionCheck}}>
    </div>
    <h2> Fusions</h2>
    {{#if actor.sheet.compFusionCheck}}
    {{> "systems/persona/parts/fusion-combination-list.hbs" actor=actor CONST=CONST list=(compendiumFusionOptions actor)}}
    {{else}}
    {{> "systems/persona/parts/fusion-combination-list.hbs" actor=actor CONST=CONST list=(fusionableCombinations actor)}}
    {{/if}}
  </section>

  {{else}}
  {{> "systems/persona/parts/persona-viewer.hbs" actor=actor CONST=CONST persona=actor.sheet.selectedFusion partial=true}}
  {{/if}}
</section>
