<div class="hp-mp-section">
	<label> HP </label>
	<select name="system.hp_adjust" {{#if (disableHPMPCHange)}} disabled {{/if}}>
		{{selectOptions CONST.DEFENSE_CATEGORY localize=true selected=actor.system.hp_adjust}}
	</select>
	<label> MP </label>
	<select name="system.mp_adjust" {{#if (disableHPMPCHange)}} disabled {{/if}}>
		{{selectOptions CONST.DEFENSE_CATEGORY localize=true selected=actor.system.mp_adjust}}
	</select>
</div>
