<div class="operand operand-1">
		{{> "systems/persona/parts/input-numeric-v2-operand.hbs" namePrefix=(strcat namePrefix "op1.")  cond=cond POWERSTUFF=POWERSTUFF owner=owner}}
</div>

		<select id="comparator" name="{{strcat namePrefix 'comparator'}}">
			{{selectOptions POWERSTUFF.SIMPLE_COMPARATORS localize=false selected=cond.comparator}}
		</select>

<div class="operand operand-2">
		{{> "systems/persona/parts/input-numeric-v2-operand.hbs" namePrefix=(strcat namePrefix "op2.")  cond=cond POWERSTUFF=POWERSTUFF owner=owner}}
</div>

