
<div class="condition-block" data-precondition-index="{{condition_index}}" data-path="{{namePrefix}}">
	{{> "systems/persona/parts/input-condition-body.hbs" namePrefix=namePrefix cond=cond POWERSTUFF=POWERSTUFF owner=owner}}
	<div>
		<a class="copy-condition">
			<i class="fa-solid fa-copy"></i>
		</a>
		<a class="del-condition">
			<i class="fa-solid fa-trash-can"></i>
		</a>
	</div>
</div>

