<section class="item-modiifers">
	<div class="wpnAtk">
		<label>
			{{localize	"persona.modifier.wpnAtk"}}
		</label>
		{{numberInput item.system.modifiers.wpnAtk class="short" name="system.modifiers.wpnAtk" step=1 min=0 max=900}}
	</div>

</section>


