<section class="persona-list f-col">
	{{#if (not selectedPersona)}}
	{{> "systems/persona/parts/persona-list-list.hbs" actor=actor CONST=CONST persona=selectedPersona selectedPersona=selectedPersona showSideboard=true personaControls=true}}
	{{else}}
	{{> "systems/persona/parts/persona-viewer.hbs" actor=actor CONST=CONST persona=selectedPersona selectedPersona=selectedPersona}}
	{{/if}}
</section>
