<div class="powers-section">
	<h2>
		{{localize 	"persona.statistic.powers"}}
		{{#if showPowerTableButton}}
		<a class="showPowersTable">
			<i class="fa-solid fa-table-list"></i>
		</a>
		{{/if}}

		{{#if (and (isShadow actor) (isGM))}}
		<a class="addShadowPower">
			<i class="fa-solid fa-plus"> </i>
		</a>
		{{/if}}
	</h2>
{{> "systems/persona/parts/basic-powers-section.hbs" CONST=CONST persona=persona activePowersOnly=activePowersOnly canDelete=canDelete showSideboard=showSideboard usePowers=usePowers actor=actor}}

{{#if false}}
{{> "systems/persona/parts/main-powers-table.hbs" CONST=CONST persona=persona activePowersOnly=activePowersOnly canDelete=canDelete showSideboard=showSideboard usePowers=usePowers}}
{{/if}}

<section class="main-powers">
  {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.activeCombatPowers usePowers=usePowers}}
</section>


{{#if (and (canUseSideboard persona) showSideboard)}}
<section class="power-sideboard">
  <h3> Sideboarded Powers (max {{persona.maxSideboardPowers}}) </h3>
  {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.user.sideboardPowers usePowers=false}}

</section>
{{/if}}

{{> "systems/persona/parts/next-learned-powers-section.hbs" CONST=CONST persona=persona actor=actor usePowers=usePowers showLearnedBuffer=showLearnedBuffer}}

{{#if false}}
{{> "systems/persona/parts/navigator-skills-section.hbs" CONST=CONST persona=persona actor=actor usePowers=usePowers}}
{{/if}}

{{#if persona.navigatorSkills}}
  <h3> Navigator Skills </h3>
  {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.navigatorSkills usePowers=false}}
{{/if}}

{{> "systems/persona/parts/sub-power-list.hbs" CONST=CONST persona=persona actor=actor usePowers=usePowers list=persona.theurgies listName="Theurgies"}}

{{#if showBonusPowers}}
{{> "systems/persona/parts/bonus-powers-table.hbs" CONST=CONST persona=persona actor=actor usePowers=usePowers}}
{{/if}}

</div>

