<section class="powers-section">
	<h2>
		{{localize 	"persona.statistic.powers"}}
		{{#if showPowerTableButton}}
		<a class="showPowersTable">
			<i class="fa-solid fa-table-list"></i>
		</a>
		{{/if}}

		{{#if (and (isShadow actor) (isGM))}}
		<a class="addShadowPower">
			<i class="fa-solid fa-plus"> </i>
		</a>
		{{/if}}
	</h2>
{{> "systems/persona/parts/basic-powers-section.hbs" CONST=CONST persona=persona activePowersOnly=activePowersOnly canDelete=canDelete showSideboard=showSideboard usePowers=usePowers actor=actor}}

<section class="main-powers">
  {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.displayedMainSkills usePowers=usePowers}}
</section>

{{> "systems/persona/parts/next-learned-powers-section.hbs" CONST=CONST persona=persona actor=actor usePowers=usePowers showLearnedBuffer=showLearnedBuffer}}

{{#if (and (canUseSideboard persona) showSideboard)}}
<section class="power-sideboard">
  <h3> Sideboarded Powers (max {{persona.maxSideboardPowers}}) </h3>
  {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.user.sideboardPowers usePowers=false}}
</section>
{{/if}}

{{#if persona.navigatorSkills}}
<section class="navigator-skills">
  <h3> Navigator Skills </h3>
  {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.navigatorSkills usePowers=false}}
</section>
{{/if}}

{{#if persona.theurgies}}
<section class="theurgies">
  <h3> Theurgy </h3>
  {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.theurgies usePowers=usePowers}}

</section>
{{/if}}

{{#if false}}
{{> "systems/persona/parts/sub-power-list.hbs" CONST=CONST persona=persona actor=actor usePowers=usePowers list=persona.theurgies listName="Theurgies"}}
{{/if}}

{{#if (and persona.bonusPowers showBonusPowers)}}
<section class="bonus-powers">
  <h3> Bonus Powers </h3>
  {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.displayedBonusPowers usePowers=false}}
</section>

{{#if persona.openers}}
<section class="openers">
  <h3> Openers </h3>
  {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.openers usePowers=(allowManualOpeners)}}
{{/if}}

{{/if}}

</div>

