<section class="effect-section">
	<div class="targets">
		<label>
			Targets
		</label>
		<select name="system.targets">
			{{selectOptions POWERSTUFF.TARGETING localize=true selected=item.system.targets}}
		</select>
	</div>
	<div class="dmg-type">
		<label>
			Damage Type
		</label>
		<select name="system.dmg_type">
			{{selectOptions POWERSTUFF.DAMAGETYPES localize=true selected=item.system.dmg_type}}
		</select>
	</div>
	<div class="crit-boost">
		<label>
			Crit Boost
		</label>
		{{numberInput item.system.crit_boost class="short" name="system.crit_boost" step=1 min=0 max=900}}
	</div>
	{{> "systems/persona/parts/effects-section.hbs" item=item POWERSTUFF=POWERSTUFF}}
</section>
