<div class="power-tags">
	<h2>
		<span>Power Tags</span>
		<a class="addTag">
			<i class="fa-solid fa-plus"> </i>
		</a>
	</h2>
	<div class="tag-list">
		{{#each (resolvedPowerTagList item) as |tag i|}}
		<div class="tag-item", data-tag-index="{{i}}">
			<select name="system.tags.{{i}}">
				{{selectOptions ../POWERSTUFF.TAGS localize=true selected=tag}}
			</select>
			<a class="delTag">
				<i class="fa-solid fa-trash-can"></i>
			</a>
		</div>
		{{/each}}
	</div>
</div>

