<section class="powers-section">
  <h2>
    {{localize 	"persona.statistic.powers"}}
    {{#if showPowerTableButton}}
    <a class="showPowersTable">
      <i class="fa-solid fa-table-list"></i>
    </a>
    {{/if}}

    {{#if (and (isShadow actor) (isGM))}}
    <a class="addShadowPower">
      <i class="fa-solid fa-plus"> </i>
    </a>
    {{/if}}
  </h2>
  {{> "systems/persona/parts/basic-powers-section.hbs" CONST=CONST persona=persona activePowersOnly=activePowersOnly canDelete=canDelete showSideboard=showSideboard usePowers=usePowers actor=actor}}

  {{#if showBonusPowers}}
  <section class="main-powers">
    {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.displayedMainSkills usePowers=usePowers}}
  </section>
  {{else}}
  <section class="main-powers">
    {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.mainPowers usePowers=usePowers}}
  </section>

  {{/if}}

  {{> "systems/persona/parts/next-learned-powers-section.hbs" CONST=CONST persona=persona actor=actor usePowers=usePowers showLearnedBuffer=showLearnedBuffer}}

  {{#if (and (canUseSideboard persona) showSideboard)}}
  <section class="power-sideboard">
    <h3> Sideboarded Powers (max {{persona.maxSideboardPowers}}) </h3>
    {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.user.sideboardPowers usePowers=false}}
  </section>
  {{/if}}

  {{#if persona.navigatorSkills}}
  <section class="navigator-skills">
    <h3> Navigator Skills </h3>
    {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.navigatorSkills usePowers=false}}
  </section>
  {{/if}}

  {{#if persona.theurgies}}
  <section class="theurgies">
    <h3> Theurgy </h3>
    {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.theurgies usePowers=usePowers}}
  </section>
  {{/if}}

  {{#if (and persona.bonusPowers showBonusPowers)}}
  <section class="bonus-powers">
    <h3> Bonus Powers </h3>
    {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.displayedBonusPowers usePowers=usePowers}}
  </section>
  {{/if}}

  {{#if persona.openers}}
  <section class="openers">
    <h3> Openers </h3>
    {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.trueOpeners usePowers=(and usePowers (allowManualOpeners))}}
  </section>
  {{/if}}

  {{#if persona.followUpMoves}}
  <section class="follow-up">
    <h3> Follow Up Moves </h3>
    {{> "systems/persona/parts/power-table.hbs" CONST=CONST persona=persona powerList=persona.followUpMoves usePowers=(and usePowers (allowManualOpeners))}}
  </section>
  {{/if}}
</section>

