<div class="power-table">
  {{#each powerList as |power i|}}
  <div class="main-power" data-power-id="{{power.id}}">
    <div class="power-name-block
    {{#if (gt i (defVal maxPowers 1000))}} over-max-power {{/if}}
    {{#if (isPowerOnCooldown ../persona power)}} on-cooldown{{/if}}
    {{#if (isPowerIllegal ../persona power)}} illegal-level {{/if}}">
      <span class="die-with-text">
        {{#if (and ../usePowers (canUsePower ../persona power))}}
        <a class="rollPower" >
          <img class="small-die" src="icons/dice/d20black.svg">
        </a>
          {{/if}}
          <a class="powerName">
            {{> "systems/persona/parts/pretty-power-name.hbs" CONST=CONST power=power user=../persona}}
            <span class="cost-string">
              {{powerCostString power ../persona}}
            </span>
          </a>
      </span>
    </div>
  </div>
  {{/each}}
</div>
