{{#if (scanLevelgte persona 1)}}
<section class="resistance">
	<div class="resistance-block">
		{{#each persona.resistancesPrintable as |resist i|}}
		<div class="resistance-item">
			<img src="{{resist.icon}}">
			<div>
				<span class="resistance-level {{resist.modified}}">
				{{resist.resistanceLoc}}
			</div>
		</div>
		{{/each}}
	</div>
</section>
{{/if}}

{{#if (not persona.isPartial)}}
{{#if (scanLevelgte persona 2)}}
{{#if (resistStr persona)}}
<div class="status-resists">
	<span> <b>Status Resistances: </b></span>
	<span>
		{{resistStr persona}}
	</span>
</div>
{{/if}}
{{/if}}
{{/if}}
