<nav class="secondary-tabs tabs" data-group="social">
		<a class="item" data-tab="SL">
			Social Links
		</a>
		<a class="item" data-tab="activities">
			Activities
		</a>
</nav>
	<section class="inner-body">
		<section class="tab tab-content social-section f-col" data-group="social" data-tab="SL">
			{{> "systems/persona/parts/social-links-list.hbs" actor=actor CONST=CONST}}
		</section>
		<section class="tab tab-content social-section f-col" data-group="social" data-tab="activities">
			{{> "systems/persona/parts/social-activities-list.hbs" actor=actor CONST=CONST}}
		</section>

	</section>

