<div class="talent-section">
	<h2>
		{{localize 	"persona.statistic.talents"}}
	</h2>
	<table class="talents-table">
		{{#each actor.talents as |talent|}}
		<tr data-talent-id="{{talent.id}}">
			<td>
				<a class="talentName">
					{{talent.name}} ({{getTalentLevel ../actor talent}})
				</a>
			</td>
			<td>
				<a class="delTalent">
					<i class="fa-solid fa-trash-can"></i>
				</a>
			</td>
		</tr>
		{{/each}}
	</table>
</div>


