<div class="tension-pool">
	<h2> Tension Pool:</h2>
	<div class="tension-rolls">
		{{#each tensionRoll as |val|}}
		<span>
			{{val}}
		</span>
		{{/each}}
	</div>
	<br>
	<div class="tension-result">
		{{tensionResult}}
	</div>
</div>
