input.short{
	width: 3em;
	max-width: 3em;
}

div.short{
	width: 4em;
	max-width: 5%;
	min-width: 1%;
}

div.resistance-block {
	display:flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

div.resistance-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.tag-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

div.tag-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 5px;
	flex: 0 10 auto;
	max-width: 30%;
}

div.tag-item select {
	flex: 5 5 auto;
	/* padding-right: 10px; */
	font-size: 0.8em;
	min-width: 130px;
}

div.tag-list .delTag {
	max-width: 16px;
	flex-shrink: 10;
}

.flex-shrink {
	flex: 0 10 auto !important;
}


.resistance-item img {
	width: 50px;
	height: 36px;
	justify-content: center;
	margin:auto;
}

div.defenses {
	display:flex;
	flex-direction: row;
	justify-content: center;
	font-size: smaller;
}

div.defenses div.defense {
	margin-left: 10px;
	margin-right: 10px;

}

div.resistance-item {
	margin-left: 10px;
	margin-right: 10px;
}

div.roll-body {
	margin-left: 1rem;
	margin-right:1rem;

}

.simple-roll .dice {
	font-size: normal;
	font-weight: bold;
	justify-content: center;
}

.simple-roll h2 {
	font-size: 1.1rem;
}

.simple-roll .mods-section {
	border: 2px;
	margin: 0.5rem;
}

.simple-roll .mod-name {
	font-weight: bold;
}

.simple-roll .final-total {
	font-weight: bold;
	font-size: larger;
}

input.single-digit {
	width: 1em;

}

.powers-section img {
	width: 20px;
	height: 20px;
	justify-content: center;
	margin:auto;
	border:none;
	border-radius:0px;
}

.effects-list {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;

}

.power-effect {
	border-style: dotted;
	border-width: 2px;
	border-radius:5px;
	display:flex;
	flex-direction:row;
}

.conditions-section {
	min-width: 40%;
	max-width: 50%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.consequences-section {
	min-width: 40%;
	max-width: 50%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.consequence-block {
	font-size: smaller;
	margin: 5px;
	display:block;
}

.condition-block {
	font-size: smaller;
	margin: 5px;
	display:block;
}

.condition-block input,
.consequence-block input,
.condition-block select,
.consequence-block select {
	height: 20px;
}

.change-target {
	font-weight: bold;
}

.small-box input {
	height: 10px !important;
	margin: 0px;
}

.profile-img {
	max-height: 180px !important;
	max-width: 180px !important;
}

.rollItem img{
	max-height: 15px !important;
	max-width: 15px !important;
	border:none;
}
.social-stat .roll-icon img{
	max-height: 20px !important;
	max-width: 20px !important;
	border:none;
}

.roll-icon img{
	max-height: 20px !important;
	max-width: 20px !important;
	border:none;
}

.other-effect {
	font-weight: bold;
}

.persona-roll .crit-boost{
	text-align: center;
	justify-content: center;
}

.persona-roll .attack-result{
	text-align: center;
	justify-content: center;
	font-size: larger;
	font-weight: bold;
}

.powers-table th {
	text-align: left;
	justify-content: left;

}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  /* right: 105%; */
  top: -200%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.social-link .name {
	cursor: pointer;
}

	.faded {
	opacity: 50%;
}

input.flag-id {
	width: 4em;
}

input.flag-name {
	width: 10em;

}


div.social-card {
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 5px;
	border:
}

.qualifier input.name,
input.baseRelationship
{
  width: 10em;
}

.social-link {
  padding-top:10px;
}

.social-link img.portrait,
.job img.portrait {
  max-width: 40px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  max-height: 40px;
  min-height: 40px;
}

div.social-link {
  display:flex;
  align-items:center;
}

.social-link .name ,
.job .name {
  font-size: 1.5em;
  margin-left: 8px;
  margin-right: 8px;
  font-family: Serif;
}

section.qualifiers {
	border: solid;
	padding: 10px;
	margin: 1em;
}

.qualifiers .header {
	font-size: 1.5em;
	font-weight: bold;
}

.perk.disabled {
	opacity: 0.5;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.orange {
	color: orange;
}

.yellow {
	color: yellow;

}

.green {
	color: green;
}

.social-command {
	height: auto;
	width: auto;
	font-size: 1.5em;
}

.social-command img {
	height: 2em !important;
	width: 2em !important;
	max-height: 2em !important;
	margin-right: 5px;
	margin-left: 5px;
}

.availability {
	margin-right: 5px;
	margin-left: 5px;
	height: auto;
	width: auto;
	font-size: 1.5em;
}

.social-icons .fa,
.social-icons .fa-solid {
	margin-left: 5px;
	margin-right: 5px;
}

.social-card-sheet textarea {
	font-size: smaller;
	display: inline-block;
	height: 3em;
	min-height: 2em;
	max-height: 10em;
	text-align: left;
	text-indent: 10px;
}

.social-card-sheet .opportunity-section {
	border: 2px solid blue;
	padding: 0.2rem;
}
.social-card-sheet .opportunity {
	border: 1px solid black;
	padding: 0.2rem;
}

.social-card-sheet .profile-img {
	max-height: 90px !important;
	max-width: 90px !important;
}

.social-card-sheet .card-event {
	border: 3px solid green;
	padding: 0.2rem;
}

.event-choice {
	border: 1px solid green;
	padding: 0.2rem;
}

.card-event .choice{
	border: 2px solid red;
	padding: 0.1rem;

}

.card-roll select,
.card-roll input {
	font-size: smaller;
	height: 20px;
}

.event-choice .chosen {
	font-weight: bold;
	font-size: larger;
}

input.event-name {
	font-size: 2em;
}

.weekly-availability {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.weekly-availability .day {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
	margin-right: 10px;
}

div.job {
	display: flex;
	flex-direction: row;
	/* justify-content: flex-start; */
	margin-left: 10px;
	margin-right: 10px;
	align-items:center;
}

.condition-block div.days{
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-right: 10px;
	align-items:center;
}

.condition-block div.day {
	margin-left: 10px;
	margin-right: 10px;

}

.atk-block {
	margin-top: 0.75em;
	margin-left: 8px;
}

.basic-powers {
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
}

.basic-powers img.power-img {
	height: 80px;
	width: 80px;
	min-height: 80px;
	min-width: 80px;
	padding: 5px;
}

.basic-power button.rollPower {
	display: inline-block;
	max-height: 90px;
	max-width: 90px;
	flex: 1;
	flex-grow:0;
}

a.rollPower {
	max-width: 20px;
	width: 20px;
}

img.small-die {
	max-width: 20px;
	width: 20px;
}

div.powers-table,
div.main-powers,
div.power-sideboard {
	display: flex;
	flex-direction: row;
	/* justify-content: flex-start; */
	flex-wrap: wrap;
}




div.main-power {
	flex: 1 1 50%;
	max-width: 45%;
	/* box-sizing: border-box; */
	padding: 1px;
	border: 1px solid #000000;
	text-align: center;
	flex-direction: row;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	max-height: 2.5em;
}

div.powers-table-item,
div.sideboard-power {
	flex: 1 1 50%;
	max-width: 45%;
	/* box-sizing: border-box; */
	padding: 1px;
	border: 1px solid #000000;
	text-align: center;
	flex-direction: row;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	max-height: 2.0em;
	/* font-size: 1.5em; */
}

div.power-operations,
div.power-name-block {
	flex: 5 5 7%;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; /* adds "…" at the cutoff for text */
}

span.die-with-text {
	display: inline-block;
}

a.rollPower,
a.powerName,
a.roll-icon {
	display: inline-block;
}

div.power-operations {
	max-width: 60px;
	font-size: 0.9em;
}

.main-power .powerName {
	font-size: 1.5em;
	font-weight: bold;
}

.sideboard-power .powerName {
	font-size: 1.2em;
}

.over-max-power {
	background-color: red;
}

.micro-text {
	font-size: 0.8em;
}

.small-box {
	border : 1px solid #000000;
	display: inline-block;
}

.scan-dialog label {
	font-weight: bold;
}

.scan-dialog header {
	display: flex;
	flex-direction: row;
}

.scan-dialog header img {
	height: 120px;
	width: 120px;
}

.scan-dialog .defenses {
	display: flex;
	flex-direction: row;
	row-gap: 20px;
	column-gap: 20px;
}

.events-section .placement {
	flex: row;
	display: flex;
}

.events-section .placement div {
	border : 1px solid #000000;
	margin: 10px;
}

.shadow-sheet .dungeon-section {
	flex-grow: 10;
	flex-shrink: 10;
	text-indent: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	margin: 8px;
}

.encounter-section .requirements-block {
	text-indent: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	margin: 8px;
}

input.short-number {
	width: 1.5em;
	max-width: 1.5em;
}

.encounter-column label {
	font-weight: bold;
}

header .flexrow * {
	flex: 2;
	flex-basis: 5%;
}

img.event-img {
	min-width: 80px;
	min-height: 80px;
	max-width: 80px;
	max-height: 80px;
	height: 80px;
	width: 80px;
}

div.weather-icon{
	min-height: 1.5em;

}

.day-weather.flexrow div {
	flex: 10 10 auto;
	min-width: 5%;
	max-width: 95%;
}

.power-name-block .cost-string{
	font-size: smaller;
}

.deprecated {
	opacity: 50%;
}

form h4 {
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-top: 0px;
}

form h5 {
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-top: 0px;
}

.social-card-event .missing-conditions {
	color: red;
}

.social-card-event button:disabled{
	cursor: not-allowed !important;
	opacity: 75%;
}


.region-info-panel {
	background-image: url(https://taragnorgaming.hopto.org/ui/denim075.png);
	max-width: 15%;
	min-width: 15%;
	width: 15%;
	z-index: 30;
	margin: 10px;
	color: white;
	padding: 10px;
}

.region-panel .points-of-interest h3 {
	font-size: larger;
	text-decoration: underline;
}

.region-panel label {
	font-weight: bold;
}

.region-panel .secret-notes {
	border-style: solid;
	border-width: 2px;
	padding: 8px;

}

.region-panel .data-block {
	margin-top: 1em;
	margin-bottom: 1em;
}

.region-panel .search-button {
	margin-top: 2em;
}

.region-panel {
	font-size: 1.2em;
}

.action-result {
	font-size: 1.5em;
}

.printed-effect {
	font-weight: bold;
}

.printed-conditional {
	font-style: italic;
}

.printed-consequence {
	font-weight: bold;
}


.tension-result.battle {
	font-size:2em;
	font-weight: bold;
}

.region-panel {
	font-size: 0.9rem;
}

.room-effects {
	font-size: smaller;
}

.social-card-sheet .automatic {
	margin: 3px;
	padding: 5px;
	border : 1px solid #000000;
}

.illegal-level {
	background-color: pink;
}

.search-attempt {
	margin-left: 5px;
}

.event-index .name {
	font-weight: bold;
	font-size: larger;
}

span.skill-card {
	max-height: 1em;
	min-height: 1em;
	height: 1em;
}

span.skill-card img {
	max-height: 1em;
	min-height: 1em;
	height: 1em;
}
.region-panel button {
	margin-top: 20px;
}

.end-turn-msg div {
	padding-top: 5px;
	padding-bottom: 5px;
}

.sub-condition {
	margin: 10px;
	padding: 10px;
	border: 2px;
	border-style: dotted;
	border-width: 2px;
	border-radius:5px;
}

.question-list .question-name {
	min-width: 60%;
	width: 60%;
}

.social-card-response {
	overflow: hidden; /* to contain floated elements */
}

.hidden {
  display: none;
}


.social-card-response img.float-img {
	float: left;
	margin-right: 16px; /* spacing between image and text */
	margin-bottom: 8px;  /* optional: spacing between image and text below */
	max-width: 20%; /* optional: make it responsive */

}

.bonus-HP, .bonus-MP {
	opacity: 60%;
}

.error {
	font-size:larger;
	font-weight: bold;
}

.status-resists {
	margin-top: 10px;
}

textarea {
	text-align: left;         /* horizontal alignment */
	vertical-align: top;      /* affects how it's aligned inline—not the text inside */
	display: block;           /* remove inline behavior if present */
	padding: 8px;             /* ensure there's space for top-aligned text */
	line-height: 1.4;         /* avoid vertical compression */
}

.basic-attack-type label {
	font-weight: bold;
	padding-right: 5px;
}

input.question-input {
	width: 20em;
	max-width: 20em;
}

input.choice-input {
	width: 25em;
	max-width: 25em;
}

h5.choices-block {
	margin-top: 20px;
	margin-left: 5px;
	font-size: 1.2rem;
}

.question-header {
	font-size: 1.2rem;
}

.level-up-msg {
	font-size: 1.5rem;
	font-weight: bold;
}

.choices-block .question-choice {
	border-style: dotted;
	border-width: 2px;
	border-radius:5px;
	margin: 10px;
	padding: 5px;
}

.option-target {
	padding-left: 5px;
	padding-right: 5px;
}

.changes img {
	display: inline-block;
	max-width: 25px;
	max-height: 20px;
}

.changes .damage {
	font-weight: bold;
}

.changes .healing {
	color: green;
}


.die-with-text {
	font-size: smaller;
}

.pretty-power-name {
	background-color: #333; /* dark grey */
	border-radius: 6px;     /* rounded corners */
	color: white;           /* text stands out on dark background */
	padding: 0.2em 0.5em;   /* some space inside */
}

.resistance-item div {
	text-align: center;
}

.pc-header-data {
	flex: 10 0 auto;
}


.no-wrap {
	flex-wrap: nowrap !important;
}

.scan-header .scan-stats-column {
	flex: 5 5 auto;
	max-width: 80%;
	min-width: 60%;
}

.scan-header .img-column {
	flex: 5 5 auto;
	max-width: 20%;
	min-width: 15%;
}

.printable-power-table {
	user-select: text !important;
	max-height: auto;
	min-height: auto;
	table-layout: auto;
	width: 100%;   /* or a fixed width */
}

.printable-power-table th {
	user-select: text !important;
	max-height: 1em;
	height: 1em;
	min-height: 0px;
	text-align: center;
	vertical-align: middle;
}

.printable-power-table power-name {
	font-weight: bold;
}

.printable-power-table tbody td {
	user-select: text !important;
	min-height: 0px;
	height: 1em;
	max-height: 1em;
	overflow: hidden; /* hides extra content */
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 2px;
	padding-right: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}

.printable-power-table tbody td.power-name {
	font-weight: bold;
}

.printable-power-table tbody td.description {
	font-style: italic;
}

.printable-power-table .power-name:hover {
	cursor: pointer;
}

.printable-power-table tr {
	user-select: text !important;
	min-height: 0px;
	max-height: 1em;
	height: 1em;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}


a.powerName {
	border: none;
}

span.pretty-power-name {
display: inline-flex;       /* let span size itself to contents */
  align-items: center;        /* vertically align text + image */
  background: #333;           /* example background */
  color: white;               /* text color */
  border-radius: 6px;         /* rounded corners */
  padding: 0.2em 0.5em; 
}


.add-five-to-all {
display: inline-block;      /* lets you add padding/box styles */
  background-color: #333;     /* dark grey background */
  color: #fff;                /* white text for contrast */
  padding: 0.4em 0.8em;       /* spacing inside */
  border-radius: 6px;         /* rounded corners */
  text-decoration: none;      /* remove underline */
  font-weight: 500;           /* slightly bolder text */
}

a.add-five-to-all:hover {
  background-color: #555;     /* lighter grey on hover */
}

a.add-five-to-all:active {
  background-color: #111;     /* darker when clicked */
}
.power-type-icon img {
	height: 1em;          /* scale image to text size */
	width: auto;          /* preserve aspect ratio */
	margin-left: 0.3em;
	border: none;
	outline: none;
	border: 0;
	padding-right: 5px;
}

/* replacemet for flexrow to reduce foundry internal dependency */
.f-row  {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.f-col {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.persona-stats label {
	font-weight: bold;
}
