input.short{
	width: 3em;
}

div.short{
	width: 4em;
	max-width: 5%;
	min-width: 1%;
}

div.resistance-block {
	display:flex;
	flex-direction: row;
	justify-content: center;
}

div.resistance-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.tag-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

div.tag-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 10px;
}

.tag-item select {
	margin-right: 10px;
}

.resistance-item img {
	width: 50px;
	height: 36px;
	justify-content: center;
	margin:auto;
}

div.defenses {
	display:flex;
	flex-direction: row;
	justify-content: center;
}

div.defense {
	margin-left: 10px;
	margin-right: 10px;

}

div.roll-body {
	margin-left: 1rem;
	margin-right:1rem;

}

.simple-roll .dice {
	font-size: normal;
	font-weight: bold;
	justify-content: center;
}

.simple-roll h2 {
	font-size: 1.1rem;
}

.simple-roll .mods-section {
	border: 2px;
	margin: 0.5rem;
}

.simple-roll .mod-name {
	font-weight: bold;
}

.simple-roll .final-total {
	font-weight: bold;
	font-size: larger;
}

input.single-digit {
	width: 1em;

}

.powers-section img {
	width: 20px;
	height: 20px;
	justify-content: center;
	margin:auto;
	border:none;
	border-radius:0px;
}

.effects-list {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;

}

.power-effect {
	border-style: dotted;
	border-width: 2px;
	border-radius:5px;
	display:flex;
	flex-direction:row;
}

.conditions-section {
	min-width: 40%;
	max-width: 50%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.consequences-section {
	min-width: 40%;
	max-width: 50%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.consequence-block {
	margin: 10px;
	display:block;
}

.condition-block {
	margin: 10px;
	display:block;
}

.change-target {
	font-weight: bold;
}

.profile-img {
	max-height: 180px !important;
	max-width: 180px !important;
}

.rollItem img{
	max-height: 15px !important;
	max-width: 15px !important;
	border:none;
}
.social-stat .roll-icon img{
	max-height: 20px !important;
	max-width: 20px !important;
	border:none;
}

.roll-icon img{
	max-height: 15px !important;
	max-width: 15px !important;
	border:none;
}

.other-effect {
	font-weight: bold;
}

.persona-roll .crit-boost{
	text-align: center;
	justify-content: center;
}

.persona-roll .attack-result{
	text-align: center;
	justify-content: center;
	font-size: larger;
	font-weight: bold;
}

.powers-table th {
	text-align: left;
	justify-content: left;

}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  /* right: 105%; */
  top: -200%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.social-link .name {
	cursor: pointer;
}

	.faded {
	opacity: 50%;
}

input.flag-id {
	width: 4em;
}

input.flag-name {
	width: 10em;

}

.social-card-sheet textarea {
	text-align:left;
	text-indent: 10px;
}

div.social-card {
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 5px;
	border:
}

.qualifier input.name,
input.baseRelationship
{
  width: 10em;
}

.social-link {
  padding-top:10px;
}

.social-link img.portrait,
.job img.portrait {
  width: 40px;
  height: 40px;
}

div.social-link ,
div.job {
  display:flex;
  align-items:center;
}

.social-link .name ,
.job .name {
  font-size: 1.5em;
  margin-left: 8px;
  margin-right: 8px;
  font-family: Serif;
}

section.qualifiers {
	border: solid;
	padding: 10px;
	margin: 1em;
}

.qualifiers .header {
	font-size: 1.5em;
	font-weight: bold;
}

.perk.disabled {
	opacity: 0.5;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.orange {
	color: orange;
}

.yellow {
	color: yellow;

}

.green {
	color: green;
}

.social-command {
	height: auto;
	width: auto;
	font-size: 1.5em;
}

.social-command img {
	height: 2em !important;
	width: 2em !important;
	max-height: 2em !important;
	margin-right: 5px;
	margin-left: 5px;
}

.availability {
	margin-right: 5px;
	margin-left: 5px;
	height: auto;
	width: auto;
	font-size: 1.5em;
}

.social-icons .fa,
.social-icons .fa-solid {
	margin-left: 5px;
	margin-right: 5px;
}

.social-card-sheet textarea {
	display: inline-block;
	height: 8em;
	min-height: 4em;
	max-height: 12em;
}

.social-card-sheet .opportunity-section {
	border: 2px solid blue;
	padding: 0.5rem;
}
.social-card-sheet .opportunity {
	border: 1px solid black;
	padding: 0.5rem;
}

.social-card-sheet .card-event {
	border: 1px solid green;
	padding: 0.5rem;
}

