input.short{
	width: 3em;

}

input.single-digit {
	width: 1em;

}

.power-effect {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

.conditions-section {
	display:flex;
	flex-direction: column;
}

.consequences-section {
	display:flex;
	flex-direction: column;
}
