<section class="room-effects-dialog">
	<select class="room-mod">
		{{selectOptions ROOMMODS localize=false}}
	</select>
	<select class="room-mod">
		{{selectOptions ROOMMODS localize=false}}
	</select>
	<select class="room-mod">
		{{selectOptions ROOMMODS localize=false}}
	</select>
</section>
