<form class="weapon-sheet">
	<input type="text" class="borderless item-name" name="name" value="{{item.name}}" title="Conusmable Name" placeholder="Consumable Name">
	<div class="editor description">
{{editor item.system.description target="system.description" button=false engine="prosemirror" collaborate=false}}
	</div>





			{{> "systems/persona/parts/power-effects.hbs" item=item POWERSTUFF=POWERSTUFF}}

</form>

