<form class="focus-sheet">
	<header class="flexcol">
		<div class="">
			<input type="text" class="borderless character-name" name="name" value="{{item.name}}" title="Focus Name" placeholder="Focus Name">
		</div>
	</header>
	<body>
		{{> "systems/persona/parts/modifiers-section.hbs" item=item }}
	</body>
</form>


