<form class="item-sheet">
	<input type="text" class="borderless character-name" name="name" value="{{item.name}}" title="Power Name" placeholder="Power Name">

	<div class="equip-slot">
		<label>
			Slot
		</label>
		<select name="system.slot">
			{{selectOptions EQUIP_SLOTS localize=true selected=item.system.slot}}
		</select>
	</div>

	<div class="flexcol editor description">
{{editor item.system.description target="system.description" button=false engine="prosemirror" collaborate=false}}
	</div>

			{{> "systems/persona/parts/item-modifiers-section.hbs" item=item }}



</form>
