<form class="pc-sheet {{#if actor.system.locked}} locked {{else}} unlocked {{/if}}">
	<header class="flexcol">
		<div class="">
			<input type="text" class="borderless character-name" name="name" value="{{actor.name}}" title="Character Name" placeholder="Character Name" {{#if actor.system.locked}} disabled {{/if}}>
		</div>
	</header>
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="main">
			{{localize "persona.sheet.tabs.pcmain" }}
		</a>
		<a class="item" data-tab="inv">
			{{localize "persona.sheet.tabs.inventory" }}
		</a>
	</nav>
	<section class="sheet-body">
		<div class="tab tab-content main-section flexcol" data-group="primary" data-tab="main">
			<div> PC WORKING!</div>
		</div>
		<div class="tab tab-content inventory-section flexcol" data-group="primary" data-tab="inv">
			<div>inventory goes here</div>
		</div>
	</section>
</form>
