<div class="search-rolls">
	<h2> Search Rolls </h2>
	<section class= "search-result">
		{{#each results as |res|}}
		<div class="result">
			{{res.searcher.name}} ({{res.declaration}}) : {{res.roll}} --- <b>{{res.result}}</b>
		</div>
		{{/each}}
		{{> "systems/persona/parts/tension-pool.hbs" tensionRoll=tensionRoll tensionResult=tensionResult}}
	</section>
</div>

