<div class="search-rolls">
	<h2> Search Rolls </h2>
	<section class= "search-result">
		{{#each results as |res|}}
		<div class="result">
			{{res.searcher.name}} ({{res.declaration}}) : 
			{{#each res.results as |attempt|}}
			<span class="search-attempt">
				<b>{{attempt.result}} ({{attempt.roll}})</b>
			</span>
			{{/each}}
		</div>
		{{/each}}
		{{> "systems/persona/parts/tension-pool.hbs" tensionRoll=tensionRoll tensionResult=tensionResult}}
	</section>
</div>

