<form class="talent-sheet">
	<header class="flexcol">
		<div class="">
			<input type="text" class="borderless character-name" name="name" value="{{item.name}}" title="Talent Name" placeholder="Talent Name">
		</div>
	</header>
	<div>
		<b> Talent </b>
	</div>
	<div class="defensive-checkbox">
		<span>
			<label>
				Defensive
			</label>
			<input type="checkbox" id="defensive" name="system.defensive" {{checked item.system.defensive}}>
		</span>
	</div>
	<textarea name="system.description">{{item.system.description}}</textarea>

	<body>
		{{> "systems/persona/parts/effects-section.hbs" item=item POWERSTUFF=POWERSTUFF}}
	</body>
</form>



