{{> "systems/persona/parts/token-panel-header.hbs" CONST=CONST persona=persona}}

<div class="main-powers">
	{{#each persona.explorationPowers as |power i|}}
	<div class="main-power {{#if (not (canUsePower ../persona power))}} faded {{/if}} {{#if (isSpecialPower power)}} shimmer {{/if}}" data-power-id="{{power.id}}" title='{{> "systems/persona/parts/power-tooltip-lite.hbs" actor=../actor CONST=../CONST power=power persona=../persona}}' >
		<div class="power-name-block">
			<div class="power-name-bubble-container">
				{{> "systems/persona/parts/pretty-power-name.hbs" CONST=../CONST power=power user=../persona}}
			</div>
		</div>
	</div>
	{{/each}}
</div>

